.cityName {
    font-size: 30px;
}

.btn-locate {
}

.details-info {
    float: right;
}

.details-unit {
    float: right;
}

#ul-details li {
    list-style: none;
    border-bottom: dotted;
    border-bottom-width: 1px;
    padding: 10px;
}

#ul-details {
    padding-left: 0px;
}

#wind ul li {
    float: right;
}

#wind ul {
    display: inline-grid;
    width: 80%;
    float: right;
}

#ul-details #wind {
    border: none;
}

.btn-locate {
    margin-left: 20px;
}

.current-temp span {
    font-size: 70px;
}

.left-bottom {
    bottom: 0px;
}

.max, .min {
    padding-left: 30px;
}

.map img {
    width: 100%;
}

.details-unit {
    padding-left: 3px;
}

.container, .panel, .panel-default > .panel-heading {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

#cityName {
    font-size: 30px;
}

row * {
    color: white;
}


#splash_screen {
    position: absolute;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #efefef;
}

    #splash_screen .logo {
        text-align: center
    }

        #splash_screen .logo img {
            max-width: 100%;
            height: auto;
            width: auto;
            margin: 0 auto;
            
        }

    #splash_screen h1 {
        font-family: 'Montserrat', sans-serif;
        /*padding-top: 35px;*/
        text-align: center;
        font-size: 60px;
        color: #5ab0e7;
    }

    #splash_screen h2 {
        font-family: 'Montserrat', sans-serif;
        padding-top: 20px;
        text-align: center;
        font-size: 28px;
        color: #dd60de;
    }

    #splash_screen h3 {
        font-family: 'Montserrat', sans-serif;
        padding-top: 20px;
        text-align: center;
        font-size: 28px;
        color: #dd60de;
    }


.navbar-brand{
    padding:2px;
}


#btn-start {
    position: relative;
    left: 50%;
    margin: -30px;
}